<h1>Searching for Component Sandboxes</h1>
<p>
  In order to view your component sandboxes in the playground you'll need to first let the
  playground know what component you're looking for. So you'll need to
  <a routerLink="/how-to/command-bar-open">open the command bar</a>
  and then begin typing the name of the desired component.
</p>
<section markdown>
  The search results are based off matches against component class names. For example, in order
  to search for a component with a class name of something like `NoticeComponent`, you'd begin
  by typing the word `Notice`.
</section>
<p>
  As you begin typing you'll notice that it's a fuzzy search finding both exact matches as well
  as other items that contain the characters from the search term.
</p>
<p>
  <img src="/assets/screencasts/command-bar-search.gif" alt="Playground for Angular - Searching for Component Sandboxes" />
</p>
<ul>
  <li>
    The search will also match on the <a routerLink="/docs/sandboxing/api" fragment="label">label property</a>
    if one exists but will not match on the scenario descriptions.
  </li>
</ul>
