#shortcuts {
  margin-bottom: 2em;
}

.shortcut {
  margin: 0;

  &__label {
    align-items: center;
    display: flex;
    font-size: 14px;
    max-width: 150px;
    min-width: 150px;
    padding: 8px 12px 8px 0;
    white-space: nowrap;
  }

  &__key {
    background: #eee;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 3px 7px;
  }

  &__value {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 1.75;
    text-align: left;
    margin: 0;
  }

}

#open,
#navigate,
#close {
  margin-bottom: 1.5em;
}




// Mediaqueries
// _________________________________________________________________________________________
@media (min-width: 731px) {

  #shortcuts {
    margin-left: 2em;
  }

  .shortcut {
    display: flex;

    &__label {
      justify-content: flex-end;
    }

    &__value {
      white-space: nowrap;
    }

  }

}

@media (max-width: 730px) {

  .shortcut {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: dotted 1px #ccc;
  }

}