#shortcuts {
  margin-bottom: 2em;
}

.content__shortcuts {
    border-top: solid 1px #ccc;
    margin-top: 2em;
    padding: 30px 0 0 100px;
    width: 520px;
  }

  .content__shortcut {
    display: flex;
  }

  .content__shortcut-label {
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    max-width: 150px;
    min-width: 150px;
    padding: 8px 12px 8px 0;
    white-space: nowrap;
  }

  .content__shortcut-label code {
    background: #eee;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 3px 7px;
  }

  .content__shortcut-value {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 1.75;
    text-align: left;
    white-space: nowrap;
  }

  a:hover {
    cursor: pointer;
  }