@import '../../app/scss/colors';




html {
    background: $color__01--03;
    font-family: 'Open sans', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-width: 20em;
}

* {
    box-sizing: border-box;
}