@import '../../app/scss/colors';




h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 0;
}

h1 {
    font-size: 2.83007813rem;
    line-height: 3rem;
    margin-bottom: 0.75rem;
}

h2 {
    font-size: 2.5875rem;
    line-height: 3rem;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 2.18320312rem;
    line-height: 2.625rem;
    margin-bottom: 0.75rem;
}

h4 {
    font-size: 1.940625rem;
    line-height: 2.25rem;
    margin-bottom: 0.75rem;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 0.8em;
    line-height: 2.25rem;
}

h6 {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
    margin-bottom: 0.8em;
    line-height: 2.25rem;
}