@import '../../app/scss/colors';
@import '../../app/scss/mediaqueries';




html {
    background: $color__01--03;
    font-family: 'Open sans', sans-serif;
    font-size: 100%;
    margin: 0;
    min-width: 320px;
    overflow-x: hidden;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border: solid 1px $color__01--02;
}

a {
  cursor: pointer;
}




// Mediaqueries
// _________________________________________________________________________________________
@media (max-width: $mediaquery__content--reduce) {

    html {
        font-size: 80%;
    }

}