<div class="content">
  <h1 class="content__title">
    About
  </h1>
  <p>
    So, we had this app that we were working on, built with <a href="https://angularjs.org">AngularJS</a>.
    It was a large scale app and development was coming along well. Then <a href="https://angular.io">Angular</a>
    was announced and the groundwork for a component based platform was initiated. We immediately thought,
    awesome, this will be a big plus for this app we were developing. It would allow us
    to modularize it into smaller chunks and have some separation of concerns within these
    web parts that make up this complex UI.
  </p>
  <p>
    So, we reworked what we had to start using Angular.
    And as we started thinking in terms of components and how that altered our approach to
    how we architect a web application we started to see the power of components and the ability to isolate
    UI and logic down to just that which is needed to drive that web chunk. But, while we had the ability to
    isolate the code, we didn't have the ability to isolate the running of that code in the browser. We would
    have to spin up the app in the browser and then nav to the spot in the app to see the component in action.
    And this wasn't too bad in the initial development of the app as there was not much nav going on, but as the app
    grew it became more time consuming to get to the render of the components.
  </p>
  <p>
    So, we created a sandbox application that would allow a dev to edit their sandbox host component
    and add markup and data to display a component from the main app that they were working on. Devs would
    have the ability to work their component in isolation and feed it the data and dependencies it needed
    to see it in action and to simulate the scenarios it could end up in. This worked out great for us...as a starting
    point. It didn't take long before the dev team wanted the ability to save their sandboxed scenarios for later use.
    What we needed was an app that could render stored sandboxes of components with different scenarios configured.
    Around this time <a href="https://getstorybook.io/">React Storybook</a> came out.
    It really embodied the same thing we wanted to have with our sandbox tool.
    At this same time we had already implemented a Style Guide application for our team that would handle dynamically
    rendering what we term "global components" from our app.
  </p>
  <p>
    So, we set out to leverage that dynamic component loading code from our Style Guide app
    along with our existing sandbox app and the inspiration of what React Storybook had done to build a tool that
    would work with Angular to allow us to develop components in isolation. As a result, Playground for Angular was born.
    And from the beginning we felt that this tool would be useful to others, so we made a plan to be able to open source
    it once we got it all dialed in. Well, we made it to that point and are super excited to share it with the
    community and hope that it will help improve the component, directive and pipe building experience and productivity!
  </p>
</div>
<ul class="items">
  <li
    *ngFor="let item of items"
    class="item">
    <div class="item__avatar">
      <a
        [href]="item.twitterUrl"
        class="item__avatarLink">
        <img
          [src]="item.avatarUrl"
          [alt]="item.firstName + ' ' + item.lastName">
      </a>
    </div>
    <div class="item__content">
      <h5 class="item__title">
        <a
          [href]="item.twitterUrl"
          class="item__titleLink">
          {{item.firstName}} {{item.lastName}}
        </a>
      </h5>
      <ul class="item__contacts">
        <li class="item__contact">
          <a
            [href]="item.githubUrl"
            class="item__link">
            <svg
              viewBox="0 0 200 200"
              class="item__icon">
              <path d="M100.4,3C45.4,3,1,47.3,1,102.3c0,43.7,28.5,80.8,68.2,94.1c5.3,0.7,6.6-2,6.6-4.6v-17.2c-27.8,6-33.8-13.2-33.8-13.2
                c-4.6-11.3-11.3-14.6-11.3-14.6c-9.3-6,0.7-6,0.7-6c9.9,0.7,15.2,9.9,15.2,9.9c8.6,15.2,23.2,10.6,29.1,7.9
                c0.7-6.6,3.3-10.6,6.6-13.2c-21.9-2.6-45-11.3-45-49c0-10.6,4-19.9,9.9-26.5c-1.3-2.6-4.6-12.6,0.7-26.5c0,0,8.6-2.6,27.2,9.9
                c7.9-2,16.6-3.3,25.2-3.3s17.2,1.3,25.2,3.3c19.2-12.6,27.2-9.9,27.2-9.9c5.3,13.9,2,23.8,0.7,26.5c6.6,6.6,9.9,15.9,9.9,26.5
                c0,38.4-23.2,46.4-45,49c3.3,3.3,6.6,9.3,6.6,18.5v27.2c0,2.6,2,6,6.6,4.6c39.7-13.2,67.6-50.3,67.6-94.1
                C199.7,47.3,155.4,3,100.4,3z"/>
            </svg>
            <span class="item__label">Follow {{item.firstName}} on Github</span>
          </a>
        </li>
        <li class="item__contact">
          <a
            [href]="item.twitterUrl"
            class="item__link">
            <svg
              viewBox="0 0 200 200"
              class="item__icon">
              <g transform="translate(-539.18 -568.86)">
                <path d="M602.1,750.1c75.5,0,116.8-62.5,116.8-116.8c0-1.8,0-3.5-0.1-5.3c8-5.8,15-13,20.5-21.2c-7.4,3.3-15.3,5.5-23.6,6.5
                  c8.5-5.1,15-13.1,18-22.7c-7.9,4.7-16.7,8.1-26.1,10c-7.5-8-18.1-13-30-13c-22.7,0-41,18.4-41,41c0,3.2,0.4,6.4,1.1,9.4
                  c-34.1-1.7-64.3-18-84.6-42.9c-3.5,6.1-5.6,13.1-5.6,20.6c0,14.2,7.2,26.8,18.3,34.2c-6.7-0.2-13.1-2.1-18.6-5.1c0,0.2,0,0.3,0,0.5
                  c0,19.9,14.1,36.5,32.9,40.2c-3.4,0.9-7.1,1.4-10.8,1.4c-2.6,0-5.2-0.3-7.7-0.7c5.2,16.3,20.4,28.2,38.3,28.5
                  c-14,11-31.7,17.6-51,17.6c-3.3,0-6.6-0.2-9.8-0.6C557.3,743.3,578.9,750.1,602.1,750.1"/>
              </g>
            </svg>
            <span class="item__label">Follow {{item.firstName}} on Twitter</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
