@import '../../scss/colors';




.logo {

    &__symbol {
        fill: $color__02--01;
    }

    &__letter01 {
        fill: $color__03--02;
    }

    &__letter02 {
        fill: $color__01--01;
    }

    &__letter03 {
        fill: $color__02--01;
    }

}