



// Color 01
// _________________________________________________________________________________________
$color__01--01: #fff;
$color__01--02: #ebebeb;
$color__01--03: #e6e6e6;
$color__01--04: #666;
$color__01--05: #333;




// Color 02
// _________________________________________________________________________________________
$color__02--01: #60c126;




// Color 03
// _________________________________________________________________________________________
$color__03--01: #00ACED;
$color__03--02: #2F3E4E;




// Color 04
// _________________________________________________________________________________________
$color__04--01: #DD0031;
$color__04--02: #C3002F;