<app-github-corner repositoryUrl="https://github.com/socreate/angular-playground"></app-github-corner>
<header>
  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">home</a>
    <a routerLink="/docs" routerLinkActive="active">docs</a>
    <a routerLink="/about" routerLinkActive="active">about</a>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  Built with ❤️ for the Angular Community by the team at <a href="https://socreate.it">SoCreate</a>
</footer>
