<app-github-corner repositoryUrl="https://github.com/socreate/angular-playground"></app-github-corner>
<header class="header">
  <a 
    *ngIf="route !== ''"
    routerLink="/"
    class="header__link">
    <playground-logo class="header__logo"></playground-logo>
  </a>
  <nav class="header__nav">
    <a 
      routerLink="/" 
      routerLinkActive="header__navItem--active" 
      [routerLinkActiveOptions]="{exact:true}"
      class="header__navItem">Home</a>
    <a 
      routerLink="/how-to" 
      routerLinkActive="header__navItem--active"
      class="header__navItem">How to</a>
    <a 
      routerLink="/docs" 
      routerLinkActive="header__navItem--active"
      class="header__navItem">Docs</a>
    <a 
      routerLink="/about" 
      routerLinkActive="header__navItem--active"
      class="header__navItem">About</a>
  </nav>
</header>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <div class="footer__content">
      Built with&nbsp; ❤️ &nbsp;for the Angular Community by the team at 
      <a 
        href="https://socreate.it"
        class="footer__link">
        SoCreate
      </a>
      <a
        class="footer__brand" 
        href="https://socreate.it">
        <socreate-logo href="footer__logo"></socreate-logo>
      </a>    
    </div>
  </footer>