@import '../scss/visually-hidden';




:host {
    font-size: 1rem;
}

.title {
    font-size: 1em;
    margin: 0;
    padding: 1em 0 0;

    &__logo {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 40em;
    }

    &__label {
        @include mixin__visuallyHidden;
    }

}

.subTitle {
    text-align: center;
    padding-bottom: 1em;
}

.demo {
    background: black;
    height: 0;
    margin: 0 auto;
    padding-top: 56%;
}

.message {
    text-align: center;
    padding-top: 2em;
}