<h1 class="title">
    <playground-logo class="title__logo"></playground-logo>
    <span class="title__label">Playground for Angular</span>
</h1>
<h4 class="subTitle">
  Work Your Components, Directives, &amp; Pipes in Isolation
  <em class="subTitle__note">(Scenario Driven Development)</em>
</h4>

<a 
  href="#why"
  class="why">
  Why Use Playground for Angular?
</a>

<img class="demo" src="/assets/screencasts/trailer.gif" alt="Playground for Angular - Work Your Components, Directives, &amp; Pipes in Isolation" />

<h1
  id="why"
  class="notes__title">
  Why Playground?
</h1>
<ul class="notes">
  <li class="note">
    <h4 class="note__title">
      Work Components Without Running Your Full Application!
    </h4>
    <p class="note__content">
      Enterprise Angular applications contain lots of components with multistep workflows 
      and many different states. This can make iterating on a component difficult and slow.
      Playground eliminates this problem by allowing you to instantly load a given component 
      in any state without navigation.
    </p>
  </li>
  <li class="note">
    <h4 class="note__title">
      Store 1 to <em>n</em> States of Your Components
    </h4>
    <p class="note__content">
      With Playground Scenarios you can stage your components with inputs and outputs 
      leveraging different state data making it effortless to recall these states the next 
      time you need to work on them. Once you have created multiple scenarios for a component, 
      you can quickly navigate through each scenario to visualize the changes. This is a great 
      way to ensure any of the changes you've made work with all other component states and 
      scenarios.
    </p>
  </li>
  <li class="note">
    <h4 class="note__title">
      Embed Your Components In External Applications
    </h4>
    <p class="note__content">
      Playground provides the ability to embed Playground Scenarios within an external style guide, 
      visual component library, or documentation. To do this, you simply leverage Playground 
      "<a routerLink="/how-to/embedding-sandboxes">Embed Mode</a>" and iFrame your component 
      scenario in your documentation tool. What’s great about this is that your documentation will 
      be automatically updated as your components change. This means no more double maintenance and 
      nothing gets left behind.
    </p>
  </li>
</ul>

<ul class="highlights">
  <li class="highlight">
    <a routerLink="/docs" class="highlight__link">
      <span class="highlight__label">
        Setup Playground
      </span>
      <svg class="highlight__icon" viewBox="0 0 24 24">
        <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1.25 17c0 .69-.559 1.25-1.25 1.25-.689 0-1.25-.56-1.25-1.25s.561-1.25 1.25-1.25c.691 0 1.25.56 1.25 1.25zm1.393-9.998c-.608-.616-1.515-.955-2.551-.955-2.18 0-3.59 1.55-3.59 3.95h2.011c0-1.486.829-2.013 1.538-2.013.634 0 1.307.421 1.364 1.226.062.847-.39 1.277-.962 1.821-1.412 1.343-1.438 1.993-1.432 3.468h2.005c-.013-.664.03-1.203.935-2.178.677-.73 1.519-1.638 1.536-3.022.011-.924-.284-1.719-.854-2.297z"/>
      </svg>
    </a>
  </li>
  <li class="highlight">
    <a routerLink="/about" class="highlight__link">
      <span class="highlight__label">
        Get the Backstory
      </span>
      <svg class="highlight__icon" viewBox="0 0 24 24">
        <path d="M23 5v13.883l-1 .117v-16c-3.895.119-7.505.762-10.002 2.316-2.496-1.554-6.102-2.197-9.998-2.316v16l-1-.117v-13.883h-1v15h9.057c1.479 0 1.641 1 2.941 1 1.304 0 1.461-1 2.942-1h9.06v-15h-1zm-12 13.645c-1.946-.772-4.137-1.269-7-1.484v-12.051c2.352.197 4.996.675 7 1.922v11.613zm9-1.484c-2.863.215-5.054.712-7 1.484v-11.613c2.004-1.247 4.648-1.725 7-1.922v12.051z"/>
      </svg>
    </a>
  </li>
</ul>

<h5 class="message">To see the latest updates, check out the <a href="https://github.com/SoCreate/angular-playground/blob/master/CHANGELOG.md">changelog</a></h5>
